* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #f3f3f3;
	margin: 0;
	padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
input[type="checkbox"] {
	margin-right: 10px;
	width: 16px;
	height: 16px;
}
.logo {
    line-height: 1em;
    color: #fff;
    font-weight: 300;
}

.flex {
	display: flex;
	align-items: center;
}
.between {
    justify-content: space-between;
}
.container {
	max-width: 480px;
	background: #fff;
	margin: auto;
	min-height: 100vh;
}
section {
	padding: 20px 0;
}
.section-1 {
	background: #C61416;
}


.row {
	padding: 10px 0;
	width: calc(100% - 40px);
	margin: auto;
}
.row.col2{
	display: flex;
}
.row.col2>div {
	width: 50%;
	position: relative;
}
.row.col2>div:nth-child(odd) {
	padding-right: 10px;
}
.row.col2>div:nth-child(even) {
	padding-left: 10px;
}
.row.col3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
}
.row.col3>div {
	width: 100%;
}
.row.col3 input[type="text"] {
	width: 100%;
	padding: 10px 10px;
	border: 1px solid #ccc;
	font-weight: 700;
	border-radius: 5px;
	outline: none;
}
.row.col3 input[type="text"]::placeholder {
	font-weight: 500;
	text-transform: none;
	font-family: 'Poppins', sans-serif;
	color: #aaa;
}



.date, .time {
	display: flex;
	color: #fff;
}
.date i, .time i {
	margin-right: 10px;
	line-height: 1.5em;
}
.align-right {
	justify-content: flex-end;
}
.row.select select{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
}
.btn {
	padding: 12px 10px;
	text-transform: uppercase;
	border: none;
	color: #fff;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
.btn.full {
	width: 100%;
}
.row.options-btn i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	color: #fff;
}
.row.options-btn>div:last-child i {
	left: 22px;
}
.row.options-btn .clear-a {
	background: #444;
}
.row.options-btn .print {
	background: #376E37;
}

.bet-list {
	padding-top: 0;
}
.bet-list .row {
    min-height: 170px;
    max-height: 170px;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 5px;
    overflow-y: scroll;
}
.bet-list-item {
    display: flex;
    font-size: 15px;
    line-height: 30px;
    padding: 8px;
    background: #fafafa;
    position: relative;
}
.bet-list-item label {
    line-height: 25px;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
}
.bet-list-item p{
	font-size: 14px;
	font-weight: 700;
	color: #000;
}
.bet-list-item .bet-count p{
    width: 25px;
    height: 25px;
    background: #F9F04C;
    line-height: 25px;
    font-weight: 700;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
}
.bet-list-item .bet-isrumbled p{
    display: block;
    width: 18px;
    height: 18px;
    background: #000;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    padding: unset;
    line-height: 18px;
    position: relative;
    top: 4px;
    font-size: 12px;
    font-weight: 600;
}
.bet-list-item .bet-isrumbled.false p{
    opacity: 0;
}
.bet-list-item>div {
	padding: 0 10px;
	text-align: center;
}
.bet-list-item button.bet-delete {
	position: absolute;
    right: 10px;
    background: #ff0000;
    border: none;
    color: #fff;
    line-height: 25px;
    padding: 0 8px;
    border-radius: 3px;
    cursor: pointer;
}
.bet-list-item button.bet-delete {
    position: relative;
    height: 25px;
    right: unset;
    top: -2.5px;
}
.bet-list .bet-list-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.input-buttons button{
	background: #aaa;
	font-size: 18px;
	font-weight: 700;
}
.npadding {
	padding: 0;
}
.enter-btn {
	background: #376E37 !important;
}


/*
 *  STYLE 3
 */

.scroll-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #fff;
}
.scroll-3::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #fff;
}
.scroll-3::-webkit-scrollbar-thumb {
	background-color: #444;
}